* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-decoration: none;
}

a {
  display: block;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #151c48;
  /*background-color: #000;*/
}

.conteiner {
  width: 50%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: red;*/
}

.container-logo {
  margin-top: 20px;
}

.container-logo img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: block;
}

.logo {
  text-align: center;
  margin: 20px 0;
  color: #fff;
}
.container-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  text-align: center;
}
.social-midia {
  background-color: #808080;
  border-radius: 20px;
  padding: 5px;
  font-weight: 800;
}
.social-midia:hover {
  color: #151c48;
  background-color: #fff;
}
